.holder {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.flatiron {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

a {
  color: white;
}

.primary-nav {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.footer {
  font-size: 11px;
  color: white;
  text-align: left;
  background-color: dimgray;
}

.link {
  font-weight: bold;
}
